html, body {padding: 0;margin: 0;}

.container {
    font-family: sans-serif;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.topic p {
    line-height: 1.4;
}

.topic a {
    text-decoration: none;
    opacity: .7;
}

.topic a:hover, .topic a:active, .topic a:focus {
    opacity: 1;
}

.topic ul {
    padding-left: 0;
}

.topic ul li {
    list-style: none;
}